<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>shorty</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.3.0/flowbite.min.js"></script>
</head>

<body class="bg-gray-100 text-gray-900 font-sans leading-normal tracking-normal">
    <section class="h-screen flex flex-col justify-center items-center bg-white pt-10">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">shorty</h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">hassle-free, straightforward url shortening</p>
            <div class="mb-6 flex">
                <input type="text" id="urlInput" value="https://" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-l-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="your url here...">
                <button onclick="performOperation()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-r-lg px-4">Go</button>
            </div>
            <div class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Choose operation:</div>
            <ul class="grid w-full gap-6 pb-5 md:grid-cols-2">
                <li>
                    <input type="radio" id="encode" name="operation" value="encode" class="hidden peer" required checked />
                    <label for="encode" class="flex flex-col items-start justify-start w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <span class="text-lg font-semibold">Encode</span>
                        <span class="text-sm">Shorten your URL</span>
                    </label>
                </li>
                <li>
                    <input type="radio" id="decode" name="operation" value="decode" class="hidden peer">
                    <label for="decode" class="flex flex-col items-start justify-start w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <span class="text-lg font-semibold">Decode</span>
                        <span class="text-sm">Retrieve original URL</span>
                    </label>
                </li>
            </ul>
            <div id="result"></div>
        </div>
    </section>
    <script>
        function performOperation() {
            const url = document.getElementById('urlInput').value;
            const isEncode = document.getElementById('encode').checked;
            const endpoint = isEncode ? '/shorten' : '/lengthen';
            const data = isEncode ? { url: url } : { short_url: url };

            fetch(endpoint, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                const resultType = isEncode ? 'Short URL: ' : 'Original URL: ';
                document.getElementById('result').innerHTML = `<div class="p-4 text-lg text-gray-900 bg-white rounded-lg shadow-md">${resultType} <strong>${isEncode ? data.short_url : data.destination_url}</strong></div>`;
            })
            .catch(error => {
                document.getElementById('result').innerHTML = `<div class="p-4 text-lg text-red-500 bg-white rounded-lg shadow-md">Error: ${error.message}</div>`;
            });
        }
    </script>
</body>

</html>